on: push
name: Build

permissions:
  id-token: write  # Required for OIDC publishing to NPM
  contents: read

jobs:
  npmCi:
    name: Build and Publish
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Install Dependencies
      run: npm ci
    - name: Lint
      run: npm run lint
    - name: Test
      run: npm test
    - name: Publish
      if: startsWith(github.ref, 'refs/tags/')
      run: npm publish --access public
